
src/jes/gui/data/generation*
src/jes/gui/data/*
src/jes/gui/data/old/*
src/jes/gui/data/xwinner*
src/jes/testcase/*
*.txt
*.class
*.sh
*.sh~
*.bat
*.BAT
*.jpg
*.wmf
src/jes/diagram.tex
src/jes/diagram.fig
*.dia
*.eps
src/jes/diagram.jneat
